.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.container {
  padding: 1rem;
}

.w-100 {
  width: 100%;
}

.w-70 {
  width: 70%;
}

.btn {
  outline: none;
  border: none;
  background-color: var(--primary-color);
  color: white;
  padding: 8px 10px;
  border-radius: 2px;
}

.btn:hover {
  cursor: pointer;
}
